.body {
    margin: 0px;
    width: 100vh;
}
.main {
    position: relative;
    width: 1280px;
    height: 720px;
    background: #FFFFFF;
    padding: 10px;
    margin: 0px;
}
.block1 {
    position: absolute;
    width: 75vw;
    height: 130px;
    left: 10px;
    background: #C4C4C4;
    padding: 10px;
}
.block2 {
    position: absolute;
    width: 50vw;
    height: 130px;
    left: 10px;
    top: 170px;
    background: #C4C4C4;
    padding: 10px;
}

.block3 {
    position: absolute;
    width: 75vw;
    height: 130px;
    left: 10px;
    top: 330px;
    background: #C4C4C4;
    padding: 10px;
}
.block4 {
    position: absolute;
    width: 50vw;
    height: 130px;
    left: 10px;
    top: 490px;
    background: #C4C4C4;
    padding: 10px;
}
.root {
    font-size: 56px;
}
.em1 {
    font-size: 0.7em;
}
.rem1 {
    font-size: 1.5rem;
}
.h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    width: 199px;
    height: 66px;
    left: 20px;
    top: 20px;
    margin: 0px;
    line-height: 65px;
}
.h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
    width: 150px;
    height: 49px;
    left: 19px;
    top: 86px;
    margin: 0px;
    line-height: 50px;
}
.h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
    width: 100px;
    height: 33px;
    left: 20px;
    top: 229px;
    margin: 0px;
    line-height: 33px;
}
